<main class="principal">
  <h2 class="principal__titulo">Dados de cadastro</h2>

  <form class="principal__formulario" id="formulario" #f="ngForm" (ngSubmit)="cadastrar(f)">
    <h3 class="principal__subtitulo">Dados pessoais</h3>
    <div class="formulario__campo">
      <label class="campo__etiqueta" for="nome">Nome Completo</label>
      <input name="nome" id="nome" class="campo__escrita" ngModel required minlength="2" #nome="ngModel" [(ngModel)]="FE_novoNome">
      <div *ngIf="(nome?.invalid && nome?.touched) || nome?.dirty">
        <app-mensagem *ngIf="nome?.errors?.['required']" mensagem="O campo de nome deve ser preenchido!"></app-mensagem>
        <app-mensagem *ngIf="nome?.errors?.['minlength']" mensagem="O nome deve ter no minimo 2 caracteres!"></app-mensagem>
      </div>
    </div>
    <div class="formulario__dupla">
      <div class="formulario__campo">
        <label class="campo__etiqueta" for="nascimento">Nascimento</label>
        <input name="nascimento" id="nascimento" type="date" class="campo__escrita" ngModel required maiorIdadeValidator #nascimento="ngModel" [(ngModel)]="FE_novoNascimento"/>
        <div *ngIf="(nascimento?.invalid && nascimento?.touched) || nascimento?.dirty">
          <app-mensagem *ngIf="nascimento?.errors?.['required']" mensagem="O campo de data de nascimento deve ser preenchido!"></app-mensagem>
          <app-mensagem *ngIf="nascimento?.errors?.['maiorIdadeValidator'] && !nascimento?.errors?.['required']" mensagem="O usuário deve ser maior de 18 anos!"></app-mensagem>
        </div>
      </div>
      <div class="formulario__campo">
        <label class="campo__etiqueta" for="celular">celular</label>
        <input name="celular" id="celular" type="tel" placeholder="(XX) XXXXX-XXXX" class="campo__escrita" ngModel required pattern="(\(?\d{2}\)?\s?)(\d{5}\-?\d{4})" #celular="ngModel" [(ngModel)]="FE_novoCelular"/>
        <div *ngIf="(celular?.invalid && celular?.touched) || celular?.dirty">
          <app-mensagem *ngIf="celular?.errors?.['required']" mensagem="O campo de celular deve ser preenchido!"></app-mensagem>
          <app-mensagem *ngIf="celular?.errors?.['pattern']" mensagem="O campo de celular está faltando algo!"></app-mensagem>
        </div>
      </div>
    </div>
    <div class="formulario__campo">
      <label class="campo__etiqueta" for="email">E-mail</label>
      <input name="email" id="email" type="email" class="campo__escrita" ngModel required pattern="^[\w-.]+@([\w-]+\.)+[\w-]{2,4}$" #email="ngModel" [(ngModel)]="FE_novoEmail"/>
      <div *ngIf="(email?.invalid && email?.touched) || email?.dirty">
        <app-mensagem *ngIf="email?.errors?.['required']" mensagem="O campo de email deve ser preenchido!"></app-mensagem>
        <app-mensagem *ngIf="email?.errors?.['pattern']" mensagem="O campo de email deve seguir este padrão: Exemplo@dominio.com"></app-mensagem>

        <!---<span class="erro__texto" *ngIf="email?.errors?.['email']">O campo de email deve seguir este padrão: Exemplo@dominio.com</span>-->
      </div>
    </div>


    <h3 class="principal__subtitulo">Endereço</h3>

    <div class="formulario__campo">
      <label class="campo__etiqueta" for="cep">CEP</label>
      <input name="cep" id="cep" class="campo__escrita" ngModel required #cep="ngModel" pattern="^(\d{5})(-?\d{3})$" minlength="8" maxlength="9" (blur)="consultaCEP($event, f)" validadorCep [(ngModel)]="FE_novoCep"/>
      <div *ngIf="(cep?.invalid && cep?.touched) || cep?.dirty">
        <app-mensagem *ngIf="cep?.errors?.['required']" mensagem="O campo de cep deve ser preenchido!"></app-mensagem>
        <app-mensagem *ngIf="cep?.errors?.['pattern']" mensagem="O campo de cep deve seguir esse exemplo: 00000-000"></app-mensagem>
        <app-mensagem *ngIf="cep?.errors?.['validadorCep']" mensagem="Cep informado não existe!"></app-mensagem>
      </div>
    </div>

    <div class="formulario__campo">
      <label class="campo__etiqueta" for="endereco">Endereço</label>
      <input name="endereco" id="endereco" class="campo__escrita" ngModel required #endereco="ngModel" [(ngModel)]="FE_novoEndereco"/>
      <div *ngIf="(endereco?.invalid && endereco?.touched) || endereco?.dirty">
        <app-mensagem *ngIf="endereco?.errors?.['required']" mensagem="O campo de endereço deve ser preenchido!"></app-mensagem>
      </div>
    </div>
    <div class="formulario__dupla">
      <div class="formulario__campo">
        <label class="campo__etiqueta" for="numero">Numero</label>
        <input name="numero" id="numero" class="campo__escrita" ngModel required #numero="ngModel" [(ngModel)]="FE_novoNumero"/>
        <div *ngIf="(numero?.invalid && numero?.touched) || numero?.dirty">
          <app-mensagem *ngIf="numero?.errors?.['required']" mensagem="O campo de número deve ser preenchido!"></app-mensagem>
        </div>
      </div>
      <div class="formulario__campo">
        <label class="campo__etiqueta" for="complemento">Complemento</label>
        <input name="complemento" id="complemento" class="campo__escrita" [(ngModel)]="FE_novoComplemento"/>
      </div>
    </div>
    <div class="formulario__campo">
      <label class="campo__etiqueta" for="bairro">Bairro</label>
      <input name="bairro" id="bairro" class="campo__escrita" ngModel required #bairro="ngModel" [(ngModel)]="FE_novoBairro"/>
      <div *ngIf="(bairro?.invalid && bairro?.touched) || bairro?.dirty">
        <app-mensagem *ngIf="bairro?.errors?.['required']" mensagem="O campo de bairro deve ser preenchido!"></app-mensagem>
      </div>
    </div>
    <div class="formulario__dupla">
      <div class="formulario__campo">
        <label class="campo__etiqueta" for="cidade">Cidade</label>
        <input name="cidade" id="cidade" class="campo__escrita" ngModel required #cidade="ngModel" [(ngModel)]="FE_novoCidade"/>
        <div *ngIf="(cidade?.invalid && cidade?.touched) || cidade?.dirty">
          <app-mensagem *ngIf="cidade?.errors?.['required']" mensagem="O campo de cidade deve ser preenchido!"></app-mensagem>
        </div>
      </div>

      <div class="formulario__campo">
        <label class="campo__etiqueta" for="estado">UF</label>
        <select id="estado" name="estado" class="campo__escrita" ngModel required #uf="ngModel" [(ngModel)]="FE_novoEstado">
          <option value="AC">Acre</option>
          <option value="AL">Alagoas</option>
          <option value="AP">Amapá</option>
          <option value="AM">Amazonas</option>
          <option value="BA">Bahia</option>
          <option value="CE">Ceará</option>
          <option value="DF">Distrito Federal</option>
          <option value="ES">Espírito Santo</option>
          <option value="GO">Goiás</option>
          <option value="MA">Maranhão</option>
          <option value="MT">Mato Grosso</option>
          <option value="MS">Mato Grosso do Sul</option>
          <option value="MG">Minas Gerais</option>
          <option value="PA">Pará</option>
          <option value="PB">Paraíba</option>
          <option value="PR">Paraná</option>
          <option value="PE">Pernambuco</option>
          <option value="PI">Piauí</option>
          <option value="RJ">Rio de Janeiro</option>
          <option value="RN">Rio Grande do Norte</option>
          <option value="RS">Rio Grande do Sul</option>
          <option value="RO">Rondônia</option>
          <option value="RR">Roraima</option>
          <option value="SC">Santa Catarina</option>
          <option value="SP">São Paulo</option>
          <option value="SE">Sergipe</option>
          <option value="TO">Tocantins</option>
          <option value="EX">Estrangeiro</option>
        </select>
        <div *ngIf="(uf?.invalid && uf?.touched) || uf?.dirty">
          <app-mensagem *ngIf="uf?.errors?.['required']" mensagem="O campo de estado deve ser preenchido!"></app-mensagem>
        </div>
      </div>
    </div>
    <h3 class="principal__subtitulo">Crie Sua Senha</h3>
    <div class="formulario__campo">
      <label class="campo__etiqueta" for="senha">Senha</label>
      <input name="senha" id="senha" class="campo__escrita" ngModel required #senha="ngModel" [(ngModel)]="FE_novoSenha">
      <div *ngIf="(senha?.invalid && senha?.touched) || senha?.dirty">
        <app-mensagem *ngIf="senha?.errors?.['required']" mensagem="O campo de senha deve ser preenchido!"></app-mensagem>
      </div>
    </div>
    <div class="formulario__campo">
      <label class="campo__etiqueta" for="senha_confrimacao">Confirma sua senha</label>
      <input name="senha_confrimacao" id="senha_confrimacao" class="campo__escrita" ngModel required #senha_confrimacao="ngModel">
      <div *ngIf="(senha_confrimacao?.invalid && senha_confrimacao?.touched) || senha_confrimacao?.dirty">
        <app-mensagem *ngIf="senha_confrimacao?.errors?.['required']" mensagem="O campo de corfirmar senha deve ser preenchido!"></app-mensagem>
        <app-mensagem *ngIf="senha_confrimacao.value != senha.value" mensagem="as senhas devem ser iguais!"></app-mensagem>
      </div>
    </div>
    <br>
    <button type="submit" class="formulario__botao">Enviar formulário</button>
    </form>
    <br>
    <a routerLink="/login" class="link__login">Caso já seja cadastro, faça seu login aqui</a>
</main>
