<footer class="rodapé">
  <ul class="lista-rodapé_curso">
    <li class="lista-rodape__titulo_curso">Projeto Integrado em Engenharia de Computação 2 com a Prof. ANDREIA DAL PONTE NOVELLI</li>
  </ul>

  <ul class="lista-rodapé">
    <li class="lista-rodape__titulo">Integrantes:</li>
    <br>
    <li class="lista-rodape__item">
        <p class="rodape__texto">ANDRE SIRIKAKU MIYASHIRO</p>
    </li>
    <li class="lista-rodape__item">
        <p class="rodape__texto">DANIEL GALDENCIO DOS SANTOS</p>
    </li>
    <li class="lista-rodape__item">
        <p class="rodape__texto">HENRIQUE SOUSA DE OLIVEIRA</p>
    </li>
    <li class="lista-rodape__item">
        <p class="rodape__texto">MATEUS MONTEIRO SISTE</p>
    </li>
  </ul>
</footer>
