<header class="cabecalho">
  <div class="container">
      <img src="/assets/img/Logo.svg" alt="Logo da Alurabooks" class="container__imagem">
      <h1 class="container__titulo"><b class="container__titulo--negrito">IF</b>Books</h1>
  </div>

  <div *ngIf="url == '/home' || url == '/sobre_nos' || url == '/login'|| url == '/cadastro'; else cabecalho"> 
    <ul class="opcoes">
    <li class="opcoes__item"><a href="#" class="opcoes__link">Home</a></li>
    </ul>
  </div>
  <ng-template #cabecalho>
    <ul class="opcoes">
        <li class="opcoes__item"><a (click)="irListaLivros()" class="opcoes__link">Lista de Livros</a></li>
        <li class="opcoes__item"><a routerLink="/chat" class="opcoes__link">Chat</a></li>
        <li class="opcoes__item"><a (click)="signOut()" class="opcoes__link">Sair</a></li>
    </ul>
  </ng-template>

  <div class="container" *ngIf="url == '/home' || url == '/sobre_nos' || url == '/login'|| url == '/cadastro'; else perfil"> 
        <a routerLink="/login" class="container__link">
            <img src="/assets/img/Usuario.svg" alt="Meu perfil" class="container__imagem">
            <p class="container__texto">Logar</p>
        </a>
  </div>
  <ng-template #perfil>
    <div class="container">
        <a (click)="acessarPerfil()" class="container__link">
            <img src="/assets/img/Usuario.svg" alt="Meu perfil" class="container__imagem">
            <p class="container__texto">Meu perfil</p>
        </a>
    </div>
  </ng-template>
</header>
