<section class="sobre-site" *ngFor="let usuario of usuarios">
    <h1 class="sobre-site__titulo">Sobre Mim</h1>
    <p class="tobre-site__subtitulo">Dados Pessoais: </p>
    <p class="tobre-site__texto"><b class="negrito">Nome Completo:</b> {{usuario.BD_NOMECOMPLETO}}</p>
    <p class="tobre-site__texto"><b class="negrito">email: </b>{{usuario.BD_EMAIL}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <b class="negrito">contato:</b> {{usuario.BD_CELULAR}}</p>
    <p class="tobre-site__subtitulo">Endereço: </p>
    <p class="tobre-site__texto"><b class="negrito">Rua:</b> {{usuario.BD_ENDERECO}}, {{usuario.BD_NUMERO}}</p>
    <p class="tobre-site__texto"><b class="negrito">bairro:</b> {{usuario.BD_BAIRRO}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b class="negrito">Cidade:</b>  {{usuario.BD_CIDADE}}</p>
    
</section>
<section class="container">
    <div class="adicionar__livro"><button type="button" class="formulario__botao" (click)="cadastraLivro()">Adicionar Livro</button></div>
    <div class="mural" *ngFor="let livro of livros">
        <div class="card">
            <!-- 1ª linha -->
            <div class="card__descricao">
                <!-- 1ª coluna -->
                <div class="descricao">
                    <h3 class="descricao__titulo">{{livro.BD_NOME}}</h3>
                    <h2 class="descricao__titulo-livro"><b class="negrito">Por: </b>{{livro.BD_AUTORA}}</h2>
                    <br>
                    <p class="descricao__texto"><b class="negrito">Editora: </b>{{livro.BD_EDITORA}}</p>
                    <br>
                    <p class="descricao__texto"><b class="negrito">Matéria: </b>{{livro.BD_MATERIA}}</p>
                    <br>
                    <p class="descricao__texto"><b class="negrito">Ano Lançamento: </b>{{livro.BD_ANOLANCAMENTO}}</p>
                </div>
                <!-- 2ª coluna -->
                <img class="descricao__imagem" src="../../../assets/img/ApacheKafka.png">
            </div>
            <!-- 2ª linha -->
            <div class="card__botoes">
                <!-- 1ª coluna -->
                <!-- 2ª coluna -->
                <a routerLink="/editar_livro/{{livro.id}}" class="botoes__ancora">Editar</a>
                <button type="button" class="botoes__ancora btn" (click)="deletar(livro)">Deletar</button>
            </div>
        </div>
    </div>
</section>
