.mural {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    margin: 1rem 0 2rem;
  }

  .sobre-site{
    background-color:  var(--azul);
    text-align: left;
    padding: 6em 2em;
}

.sobre-site__titulo{
    color: var(--laranja);
    font-family: var(--fonte-principal);
    font-weight: 400;
    font-size: 3.5em;
    margin-bottom: 0.5em;
}

.tobre-site__texto{
    color: white;
    font-family: var(--fonte-secundaria);
    font-size: 1.2em;
    margin-bottom: 1em;
    text-align: justify;
}

.formulario__botao {
    background: var(--laranja);
    align-content:center;
    padding: 1em 2em;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    border: none;
    color: var(--branco);
    cursor: pointer;
  }

.adicionar__livro{
    margin: 1em 0;
    text-align: center;
}
  
  @media screen and (min-width: 216px) {
    .buscar-pensamentos {
      width: 250px;
    }
  }
  
  @media screen and (min-width: 396px) {
    .buscar-pensamentos {
      width: 380px;
    }
  }
  
  @media screen and (min-width: 576px) {
    .buscar-pensamentos {
      width: 510px;
    }
  }
  