<section class="sobre-site" *ngFor="let usuario of usuarios">
    <h1 class="sobre-site__titulo">Sobre Mim</h1>
    <p class="tobre-site__texto">Dados Pessoais: </p>
    <p class="tobre-site__texto">Nome Completo: {{usuario.BD_NOMECOMPLETO}}</p>
    <p class="tobre-site__texto">email: {{usuario.BD_EMAIL}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; contato: {{usuario.BD_CELULAR}}</p>
    <p class="tobre-site__texto">Endereço: </p>
    <p class="tobre-site__texto">Rua: {{usuario.BD_ENDERECO}}, {{usuario.BD_NUMERO}}</p>
    <p class="tobre-site__texto">bairri: {{usuario.BD_BAIRRO}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Cidade: {{usuario.BD_CIDADE}}</p>
    
</section>
<section class="container">
    <div class="adicionar__livro"><button type="button" class="formulario__botao" (click)="cadastraLivro()">Adicionar Livro</button></div>
    <div class="mural" *ngFor="let livro of livros">
        <div class="card">
            <!-- 1ª linha -->
            <div class="card__descricao">
                <!-- 1ª coluna -->
                <div class="descricao">
                    <h3 class="descricao__titulo">{{livro.BD_NOME}}</h3>
                    <h2 class="descricao__titulo-livro">{{livro.BD_EDITORA}}</h2>
                    <p class="descricao__texto">{{livro.BD_MATERIA}}</p>
                    <p class="descricao__texto">descrição</p>
                </div>
                <!-- 2ª coluna -->
                <img class="descricao__imagem" src="../../../assets/img/ApacheKafka.png">
            </div>
            <!-- 2ª linha -->
            <div class="card__botoes">
                <!-- 1ª coluna -->
                <!-- 2ª coluna -->
                <a routerLink="/editar_livro/{{livro.id}}" class="botoes__ancora">Editar</a>
                <button type="button" class="botoes__ancora btn" (click)="deletar(livro)">Deletar</button>
            </div>
        </div>
    </div>
</section>
