<section class="sobre-site">
    <h1 class="sobre-site__titulo">Sobre o Site</h1>
    <p class="tobre-site__texto">Um estudo sobre os preços de livros didáticos, foi feito pela Associação 
        Nacional de Livrarias. Esta pesquisa apontou que o preço dos livros didático aumentou 
        entre 8% e 10% em relação aos anos anteriores, passando a custar em média R$150 
        cada</p>
    <p class="tobre-site__texto">Para solucionar este problema tivemos a ideia de criar uma plataforma web 
        onde qualquer um, que possua livros didáticos e que não estão em uso, possam 
        cadastrar esses livros para que outros usuários da plataforma possam pedir pela 
        doação ou até mesmo trocar por um outro livro.</p>
</section>
<section class="container">
    <div class="mural">
      <app-livro></app-livro>
      <app-livro></app-livro>
      <app-livro></app-livro>
      <app-livro></app-livro>
    </div>
</section>
