<section class="container">
    <header class="header d-flex">
      <div class="buscar-pensamentos">
        <input type="search" class="filtro" placeholder="O que você procura?" autofocus>
        <img src="../../../../assets/img/lupa.png" alt="Lupa Azul">
      </div>
    </header>
    <div class="mural" *ngFor="let livro of livros">
      <div class="card">
        <!-- 1ª linha -->
        <div class="card__descricao">
            <!-- 1ª coluna -->
            <div class="descricao">
                <h3 class="descricao__titulo">{{livro.BD_NOME}}</h3>
                <h2 class="descricao__titulo-livro">{{livro.BD_AUTORA}}</h2>
                <p class="descricao__texto">descrição fgsgggerg agsgf</p>
                <p class="descricao__texto">descrição</p>
            </div>
            <!-- 2ª coluna -->
            <img class="descricao__imagem" src="../../../assets/img/ApacheKafka.png">
        </div>
        <!-- 2ª linha -->
        <div class="card__botoes">
            <!-- 1ª coluna -->
            <!-- 2ª coluna -->
            <a href="#" class="botoes__ancora">Alugar</a>
            <a href="#" class="botoes__ancora">Pedir Doação</a>
        </div>
    </div>
    
    </div>
</section>