<div class="card">
    <!-- 1ª linha -->
    <div class="card__descricao">
        <!-- 1ª coluna -->
        <div class="descricao">
            <h3 class="descricao__titulo">Autora do Mês</h3>
            <h2 class="descricao__titulo-livro">Juliana Agarikov</h2>
            <p class="descricao__texto">Analista de sistemas e escritora, Juliana é especialista em Front-End.</p>
        </div>
        <!-- 2ª coluna -->
        <img class="descricao__imagem" src="../../../assets/img/ApacheKafka.png">
    </div>
    <!-- 2ª linha -->
    <div class="card__botoes">
        <!-- 1ª coluna -->
        <ul class="botoes">
        </ul>
        <!-- 2ª coluna -->
        <a href="#" class="botoes__ancora">Saiba mais</a>
    </div>
</div>
